POSTGRES_DB=desk
POSTGRES_USER=desk
POSTGRES_PASSWORD=desk
POSTGRES_PORT=5432

OPENAPI_PORT=3000
API_PUBLIC_BASE_URL=http://localhost:3000/api
RUST_LOG=info

FRONTEND_PORT=5173
FRONTEND_VITE_API_BASE_URL=http://localhost:3000/api
